<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header.ejs') %>
<!--  paramétrage des inputs -->
    <% 
    const name = {
        label : "Full name",
        id : "name",
        type :"text"
    };
    const email = {
        label : "E-mail",
        id : "email",
        type :"email"
    };
    const phone = {
        label : "Mobile",
        id : "phone",
        type : "number"
    };
    const city = {
        label : "City",
        id : "city",
        type :"text"
    };
    %>
<!--  paramétrage des boutons -->

<%
    const BtnSubmit = {
        label : "Submit",
        id : "database",
        class : "fas fa-database"
    };
 %> 

    <title>Node.js Express mongoDB CRUD</title>
</head>
<body>

    <div class="container form" >
        <h2 class="title is-3">Insert Employee</h2>
        <%- include('./input.ejs',{objet : name}) %>
        <%- include('./input.ejs',{objet : email}) %>
        <div class="columns">
            <div class="column">
                <%- include('./input.ejs',{objet : phone}) %>
            </div>
            <div class="column">
                <%- include('./input.ejs',{objet : city}) %>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <%- include('./bouton.ejs',{objet : BtnSubmit}) %>
            </div>
            <div class="column is-3">
                <button class="button is-info is-medium" id="book"><span class="icon is-small is-left"><i class="fas fa-book"></i></span> <p>View All</p></button>
            </div>
            <div class="column is-2">
                <button class="button is-warning is-medium" id="reset"><span class="icon is-small is-left"><i class="far fa-trash-alt"></i></span> <p>Reset All</p></button>
            </div>
        </div>
    </div>
</body>
<!-- accès au script en javascript -->
<%- include('./script.ejs') %>
</html>